th{
    width: 25% !important;
    border: 4px solid rebeccapurple;
    border-bottom: 4px solid rebeccapurple !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    color: rebeccapurple;
    font-weight: bold;
}

td{
    width: 25% !important;
    border: 2px solid rebeccapurple;
    box-sizing: border-box !important;
    margin: 0 !important;
}
table{
    background: rgba(230,216,250,1);
}

